@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --body__bg: #f4f4f5;
    --primary__color: #39A0ED;
    --white: #fff;
    --black: #000;
    --secondary__btn: #338bce;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto Mono';
    /* font-family: "Roboto", sans-serif; */
}

body {
    background: var(--white);
    /* font-family: "Edu AU VIC WA NT Dots", cursive; */
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4rem;
    width: 100%;
    height: 5rem;
    background: var(--primary__color);
    z-index: 999;
}

.logo {
    color: #fff;
    font-size: 2em;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.1em;
    letter-spacing: .1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background: var(--white);
    bottom: 10px;
    transition: all.4s ease;
}

nav ul li a:hover::before {
    width: 70%;
}

/* ! Menu button */

.checkbtn {
    font-size: 1em;
    color: #ffffff;
    margin-block-start: 1rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 868px) {

    header {
        height: 7rem;
    }

    .logo {
        font-size: 3rem;
    }
    .checkbtn {
        display: block;
        font-size: 4rem;
    }

    ul {
        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 45vh;
        border-radius: 0 0 0 1.5rem;
        border: .05rem solid #0009;
        background: var(--secondary__btn);
        top: 7rem;
        right: -100%;
        transition: all .5s;
    }

    nav ul li {
        margin-block: .30rem;
    }

    nav ul li a {
        font-size: 1em;
        color: #ffffff;
        transition: all .5s ease-in-out;
    }

    #check:checked ~ ul {
        right: -5%;
    }
}

@media (max-width: 450px) {
    header {
        height: 3rem;
    }

    main h2 {
        font-size: 1.8em;
    }
}

/* hero section */

main section {
    min-height: 100vh;
}

h2 {
    font-size: 2.5em;
    margin-block: 2rem 5rem;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 7rem;
}

.home .left {
    width: 50%;
    padding: 2rem;
}

.left .greet {
    font-size: 1.5em;
    font-weight: lighter;
    font-style: italic;
}

.left h1 {
    font-size: 3em;
    margin-block: 1rem 2rem;
}

.left  .web {
    color: #39A0ED;
}

.left a {
    display: inline-block;
    text-decoration: none;
    background: var(--primary__color);
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: #fff;
    transition: .4s;
}

.left a:hover {
    background: var(--secondary__btn);
}

/* ----------------------------- */

.home .right {
    position: relative;
    width: 500px;
    height: 400px;
    background: url(images/Profile-min.JPG);
    background-size: cover;
}

.home .right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/New.jpg);
    background-position: center;
    background-size: cover;
    mix-blend-mode: screen;
}

@media (max-width: 850px) {
    .home {
        flex-direction: column-reverse;
        justify-content: center;
        padding-block-start: 5rem;
    }

    .home .left {
        width: 100%;
    }

    .left .greet {
        font-size: 2rem;
    }

    .left h1 {
        font-size: 6em;
        margin-block-end: 5rem;
    }

    .home .right {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 450px) {
    header {
       height: 6rem;
       padding-inline: 2rem;
    }

    header .logo {
        font-size: 2em;
    }

    ul {
        top: 6rem;
    }

    .home .left {
        width: 180%;
        display: grid;
        place-items: center;
    }

    .left .greet {
        font-size: 1.2em;
    }

    .left h1 {
        font-size: 3em;
    }

    .home .right {
        width: 430px;
        height: 340px;
    }
}

/* about section */

main .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f5;
}

.row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
}

.row .img__rapper {
    overflow: hidden;
}

.img__rapper img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: .3s;
}

.img__rapper:hover img {
    transform: scale(1.25);
}

.row .content__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.row .content__wrapper span.text__wrapper {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.content__wrapper span.text__wrapper span {
    display: inline-block;
    background-color: var(--primary__color);
    width: 60px;
    height: 5px;
}

.row .content__wrapper h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary__color);
    padding-bottom: 2rem;
}

.row .content__wrapper p {
    font-size: 1em;
    line-height: 25px;
    padding-bottom: 25px;
}

.row .content__wrapper a {
    display: inline-block;
    text-decoration: none;
    background: var(--primary__color);
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: #fff;
    transition: .4s;
}

.row .content__wrapper a:hover {
    background: var(--secondary__btn);
}

@media (max-width: 868px) {
    .row {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .row .content__wrapper {
        padding-left: 0;
    }
}

@media (max-width: 450px) {
    .row .content__wrapper span.text__wrapper {
        font-size: 18px;
    }

    .row .content__wrapper h2 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .row .content__wrapper p {
        line-height: 24px;
    }
}

/* ! project */

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
p {
	font-size: 1.1rem;
	color: var(--secondary-black);
}

.container h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    position: relative;
}

#project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}

#project span {
    display: inline-block;
    background-color: var(--primary__color);
    width: 80px;
    height: 5px;
    margin-inline-end: 1rem;
}

#project .project__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#project .card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10rem;
}

#project .card .left {
    flex: 1;
}

#project .card .right {
    flex: 1;
    margin-left: -50px;
    background: var(--body__bg);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}

#project .card .left .image {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px #4705fc33;
    position: relative;
}

/* #project .card .left .image::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #5a24ed38;
} */

#project .card .left .image img {
    transition: 0.3s ease transform;
}

#project .card:hover .left .image img {
    transform: scale(1.1);
    z-index: 1;
}

#project .card .right h3 {
    font-size: 1.2em;
    font-family: 'Montserrat';
	margin-bottom: .8rem;
}

#project .card .right p {
    color: var(--secondary__gray);
	margin-bottom: 1rem;
}

#project .card .right .btn__3 {
    text-decoration: none;
    color: var(--white);
    padding: .3rem .8rem;
    font-size: 1em;
    border-radius: .5rem;
    background: var(--primary__color);
    transition: all .4s;
}

#project .card .right .btn__3:hover {
    background: var(--secondary__btn);
}

@media (max-width: 868px) {
    #project .project__cards {
        flex-direction: column;
    }

    #project .card {
        flex-direction: column;
    }

    #project .card .left {
        width: 100%;
    }

    #project .card .right {
        margin-left: 0;
        width: 90%;
        margin-top: -50px;
    }

    #project .card .left .image {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 450px) {
    #project .project__cards {
        flex-direction: column;
    }

    .project__cards .card {
        max-width: 800px;
        margin-bottom: 2rem;
    }

    #project .card .left .image {
        width: 100%;
    }
}

/* ! testimonial */

.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block-end: 2rem;
    background-color: var(--body__bg);
}

.testimonial span {
    display: inline-block;
    background-color: var(--primary__color);
    width: 80px;
    height: 5px;
    margin-inline-end: 1rem;
}

.testi__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.testi__container .testi__card {
    width: 200px;
    border: 1px solid #0002;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 5px 0 #0003;
    background: var(--white);
}

.testi__card .testi__content {
    width: 100%;
    height: 140px;
}

.testi__card .testi__content p {
    font-size: 1em;
    margin-block-end: 1rem;
}

.testi__card .testi__id {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.testi__id .testi__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-inline-end: 1rem;
    margin-block: 1rem;
}

.testi__image img {
    width: 100%;
}

.testi__id h3 {
    font-size: 1em;
}

@media (max-width: 888px) {
    
    .testi__container {
        width: 80%;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .testi__container .testi__card {
        width: 100%;
        padding: 2rem 1.5rem;
    }

    .testi__card p {
        font-size: 1.1em;
    }

    .testi__id h3 {
        font-size: 1.1em;
    }
}

@media (max-width: 450px) {
    .testi__container {
        width: 80%;
        grid-template-columns: 1fr;
    }

    .testi__container .testi__card {
        width: 100%;
        padding: 1rem;
    }

    .testi__card .testi__content {
        height: 100px;
    }

    .testi__id .testi__image {
        margin-block: 0;
    }
}

/* ! contact */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact span {
    display: inline-block;
    background-color: var(--primary__color);
    width: 80px;
    height: 5px;
    margin-inline-end: 1rem;
}

.contact__container {
    width: 70%;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px #0002;
    background: var(--body__bg);
}

.contact__container .contact__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__content .left__side {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.contact__container .left__side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.contact__container .left__side .address__content{
    margin: 14px;
    text-align: center;
  }

  .left__side .address__content ion-icon{
    font-size: 30px;
    color: #39A0ED;
    margin-bottom: 10px;
  }

  .left__side .address__content .addrs__title {
    font-size: 18px;
    font-weight: 500;
  }

  .left__side .address__content .city {
    font-size: 14px;
    color: #67676c;
  }

.contact__container .right__side {
    width: 75%;
    margin-left: 75px;
}

.contact__container .right__side .headin {
    font-size: 23px;
    font-weight: 600;
    color: var(--primary__color);
    margin-block-end: 1rem;
}

.right__side .input__field {
    height: 40px;
    width: 100%;
    margin: 12px 0;
}

.right__side .input__field input, textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    /* background-color: #f0f1f8; */
    background: var(--white);
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right__side .text__area {
    padding-top: 6px;
    min-height: 110px;
}

.right__side .btn {
    display: inline-block;
    margin-top: 12px;
}

.right__side button {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #39A0ED;
    transition: all .3s ease;
}

.right__side button:hover {
    background: #178ce6;
}

@media (max-width: 850px) {

    .contact__container {
        width: 90%;
        padding: 40px;
    }

    .contact__container .right__side {
        width: 100%;
        margin: 0;
    }

    .right__side .headin {
        text-align: center;
    }

    .contact__container .contact__content {
        flex-direction: column-reverse;
    }

    .contact__container .left__side::before {
        content: none;
    }

    .contact__content .left__side {
        width: 100%;
        flex-direction: row;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ! footer */

footer{
    background: var(--body__bg);
}

.footer__container{
    width: 100%;
    padding: 70px 30px 20px ;
}

.social__icons{
    display: flex;
    justify-content: center;
}

.social__icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding:  8px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.social__icons a ion-icon{
    font-size: 2em;
    color: black;
    opacity: 0,9;
    transition: all .4s ease-in-out;
}

.social__icons a:hover{
    background-color: #111;
}
.social__icons a:hover ion-icon{
    color: white;
    transition: 0.5s;
}
.footer__nav{
    margin: 30px 0;
}

.footer__nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer__nav ul li a{
    color:var(--black);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footer__nav ul li a:hover{
    opacity: 1;
}
.footer__bottom{
    background-color: #399fed6a;
    padding: 20px;
    text-align: center;
}
.footer__bottom p{
    color: #000000ad;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 850px){
    .footer__nav ul{
        flex-direction: column;
    } 
    .footer__nav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socia__icons a{
        padding: 8px;
        m__containerpx;
    }
}